<h2><%= @guide[:title] %></h2>

<h3>What you need:</h3>
<ul>
  <% for needed_thing in @guide[:needed_stuff] %>
    <li><%= needed_thing %></li>
  <% end %>
</ul>

<h3>Steps:</h3>
<ol>
<% for @step in @guide[:steps] %>
  <% if @step[0] != " " %>
    <li><%= @step %></li>
  <% else %>
    <p><%= @step %></p>
  <% end %>
<% end %>
</ol>

<p>Guide by: <%= @guide[:by] %></p>
